* { margin: 0; padding: 0; box-sizing: border-box; font-family: Poppins; }
body { background: #010b15; overflow: hidden; }

#particleCanvas {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%; z-index: -1;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #00eaff;
    font-size: 40px;
    margin-bottom: 30px;
}

.balance-card {
    background: rgba(0,255,255,0.08);
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    border: 1px solid rgba(0,255,255,0.3);
    backdrop-filter: blur(10px);
}

.balance-card h2 {
    color: #8beaff;
    margin-bottom: 15px;
}

.balance-card p {
    font-size: 40px;
    color: #00ffbf;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background: #00eaff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
